body {
  font-family: "Roboto";
}

.header,
.content,
.main-image-div,
.footer {
  font-family: "Hero New";
  display: flex;
  background: #1f2937;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e7eb;
  height: 400px;
  font-family: "Hero New";
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  padding: 64px;
  text-align: center;
}

.container {
  font-family: "Hero New";
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 32px;
  margin: 8px;
}

.header {
  margin: 0;
  padding: 4px 32px;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.content {
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 4px 32px 32px;
}

.container-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  padding: 16px;
}

.container-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.info-text {
  text-align: center;
}

.main-image-div {
  align-items: center;
  justify-content: right;
  flex: 1;
}

ul {
  display: flex;
  margin: 0;
  gap: 60px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  color: #3882f6;
}

img {
  width: 100px;
  height: 100px;
}

.main-image {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

.logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(26deg)
    brightness(108%) contrast(101%);
}

.main-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.main-subtitle {
  color: #e5e7eb;
  font-size: 18px;
  padding: 4px;
  margin: 16px 0;
}

button {
  background-color: #3882f6;
  font-family: "Hero New";
  font-size: 12px;
  color: #e5e7eb;
  font-weight: bold;
  padding: 4px;
  margin: 32px 0;
}

.CTA {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: white;
}

.CTA-container {
  display: flex;
  background-color: #3882f6;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 8px;
}

.CTA-container-text {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.CTA-header {
  font-weight: bolder;
  font-size: 18px;
}

button {
  padding: 8px 20px;
  border: 2px solid white;
  border-radius: 4px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: #3882f6;
}

.CTA-button {
  margin: 32px;
}

.footer,
.footer-credits {
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.content-text {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4px;
  flex: 1;
}
