body {
  font-family: "Roboto";
}

.header,
.content,
.main-image-div {
  font-family: "Hero New";
  display: flex;
  background: #1f2937;
}

.header {
  margin: 0;
  padding: 4px 32px;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.content {
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 4px 32px 32px;
}

.content-text {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
  flex: 1;
}

.main-image-div {
  align-items: center;
  justify-content: right;
  flex: 1;
}

ul {
  display: flex;
  margin: 0;
  gap: 60px;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

img {
  width: 100px;
  height: 100px;
}

.main-image {
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

.logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(26deg)
    brightness(108%) contrast(101%);
}

.main-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.main-subtitle {
  color: #e5e7eb;
  font-size: 18px;
  padding: 4px;
  margin: 16px 0;
}

button {
  background-color: #3882f6;
  font-family: "Hero New";
  font-size: 12px;
  color: #e5e7eb;
  font-weight: bold;
  padding: 4px;
  margin: 32px 0;
}
